@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.blobby-animation {
  animation: blobby 4s linear infinite;
}
@keyframes blobby {
  0% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-30px);
  }
}

.text-shadow {
  text-shadow: -5px 2px 6px rgba(0, 0, 0, 0.25);
}

.button-shadow {
  filter: drop-shadow(-5px 4px 4px rgba(0, 0, 0, 0.25));
}

.swap-shadow {
  box-shadow: inset 5px -4px 0px rgba(0, 0, 0, 0.25);
}

#content {
  display: flex !important;
  align-items: flex-end !important;
}
#content canvas {
  margin-bottom: 0 !important;
}

@keyframes vibrate {
  0% {
    transform: none;
  }
  20% {
    transform: rotateZ(3deg);
  }
  40% {
    transform: rotateZ(-3deg);
  }
  60% {
    transform: rotateZ(2deg);
  }
  80% {
    transform: rotateZ(-2deg);
  }
  100% {
    transform: none;
  }
}
.vibrate:hover {
  animation-name: vibrate;
  animation-duration: 0.5s;
  /* animation-iteration-count: infinite; */
}

.play-hover {
  transition: all 0.1s;
}

.play-hover:hover {
  transform: rotate(-5deg);
  transition: all 0.1s;
}
